<!-- <div class="spacing">
  <app-recap-final></app-recap-final>
</div> -->

<!-- <div class="spacing">
  <app-recap-4></app-recap-4>
</div>
<div class="spacing">
  <app-recap-32></app-recap-32>
</div>
<div class="spacing">
  <app-recap-64></app-recap-64>
</div> -->
<sky-box>
  <sky-box-header>
    <h1 style="text-align: center">Ongoing recap - Round of 64 - 3/20-3/21</h1>
  </sky-box-header>
  <sky-box-content>
    The first day of March Madness is underway! I've added several new things to the site.
    <ul>
      <li>Added "Teams Remaining" in the standings.</li>
      <li>Added if a team has been eliminated when clicking on an entry name.</li>
      <li>Updated the Points Earned page to show if a team has been eliminated.</li>
      <li>Updated the Points Earned page to allow you to click on a school and see who picked them, and if it was a superfan pick.</li>
    </ul>
    Any feedback is welcome! Hope to make this fun to continue to look at as the tournament progresses.
  </sky-box-content>
</sky-box>
