<sky-box>
  <h1>First weekend recap</h1>

  <h2>The Challenge</h2>
  <p>
    The big story of Day 1 of the contest was that Clemson, the most selected team, lost their first game in embarrassing fashion. 24 of the 45 entries picked Clemson, with NINE
    super fans. Lots of donations early into the prize pool. Another punishing pick was Kansas, who was picked by 10 entries, also exits with zero points. Arkansas was the top
    point getter, selected by 4 entries, scored 30 points in the first 2 games as the 10 seed. One team, the defending champ WINTERGREEN ZYN POUCH, picked them as the super team.
    The strategy is still up in the air as far as the seeds, but the best strategy has always been picking the winners. Double digit seeds are attractive, but it seems like a coin
    flip to me. Probably why I'm in last place. The leader, Keepdiggin, still has 6 teams with the highest seed as #3 Kentucky. Squantos also has 6 teams left, but has a lower
    average seed. There are still some contenders for the top 3 slots. We'll know more after the Sweet 16.
  </p>

  <h2>The Games</h2>
  <p>
    There really wasn't too much Madness in the first four days. Only 3 seeds over 10 won their first game -- McNeese, Colorado State, and Drake -- and they all lost the second
    round matchup. I personally always love watching the first weekend, regardless of the results. I watched all 48 games once again. The top seeds look really really good. I do
    think Houston will be the first 1 seed to fall, with Auburn not far behind. I think a non-1 seed to watch in each region are Arkansas, Purdue, Alabama, and Michigan State. I
    liked what I saw from each team. More than one way to score, a player that can take control, and a head coach that's been there before. All 4 coaches of the aforementioned
    schools have been to the Final Four. I wouldn't be surprised if they made it back again.
  </p>
</sky-box>
