<sky-box>
  <h1>March 23rd - Round of 64 Recap!</h1>
  <p>
    Great first round of basketball! Definitely didn't disappoint from an excitement standpoint. I want to thank the Youtube TV 5-day free trial for getting me all the basketball
    in the best weekend of the year for free. The multi-view saved me from a couple hours of audio/video setup. I watched all 32 games, although I did go to bed early on Friday and
    watched the 2 12 seed upsets Saturday morning. Let's review the games!
  </p>

  <h2>THURSDAY - SESSION 1:</h2>
  <p>
    Michigan State looks underseeded again as they rolled over Mississippi State. Izzo has a tough task going against #1 UNC, but the Tar Heels did look vulnerable in the first
    half after settling in vs. Wagner. Duquesne built up an early lead in Omaha vs. BYU, but the Cougars came roaring back and nearly pulled off the comeback. Duquesne advances in
    the NCAA tournament for the first time since the 60's. Arizona has been shaky in recent memory, but they took care of business.
  </p>

  <h2>THURSDAY - SESSION 2:</h2>

  <p>
    Not much to say about this session, Illinois is a darkhorse to me that could make a run. I think a matchup vs. UConn is in their future. Oregon took care of South Carolina and
    the Tar Heels pulled away after some fight from Wagner. Nevada had a huge lead the whole game but Dayton never gave up and chiseled away at their deficit. Nevada played some of
    the worst basketball in the last 10 minutes that I've seen from a winning team. Lack of agressiveness, poor shot selection, and turnovers sent them packing. I'm only a little
    bitter because I had them advancing.
  </p>

  <h2>THURSDAY - SESSION 3:</h2>
  <p>
    McNeese got run out of the building after being a very popular upset pick heading into the tourney. Gonzaga is poised to make another Sweet 16 against a wounded Kansas team.
    Iowa State also took care of South Dakota State without much pushback. Colorado State and Texas was one of the worst games of the tournament, with 38 first half points. I think
    one of my pickup games would have been more entertaining to watch. Texas was better, behind Max Abmas (of previous Oral Roberts fame), and just pulled away from the Rams. The
    story of Thursday was the Oakland Golden Grizzlies. Jack Gohlke is an inspiration with 32 points on 10 three pointers and 2 free throws. The man has taken EIGHT 2 pointers all
    year, compared to over 340 3 pointers. Talk about someone who knows his identity. Kentucky is complete trash, and is now on my Do Not Pick list in March Madness. I'm thrilled
    that 4 year players who grow together can take down the transfer portal kids who just want to get to the NBA. Huge props to Oakland and I'm excited to see them take on NC State
    and possibly make the Sweet 16.
  </p>
  <h2>THURSDAY - SESSION 4</h2>
  <p>
    By this point I'm getting tired, but still running on adrenaline to get the last session in. Little did I know, I'd be up til 1 AM watching a great game. That great game was
    Kansas/Samford. Kansas didn't win the Big 12 for the first time in forever, and was down a couple of key players heading into the game against one of the best offenses in
    basketball. The Jayhawks jumped out to an early lead and looked like Samford was done. But they found their groove in the second half, and pulled within 1 point with 20 seconds
    to go. Kansas then got a huge break by a foul call where there was no contact. The ref was on the wrong side of the play and from his point of view, it probably looked like a
    foul. Samford launched a game-tying 3 but missed, and the Jayhawks survived. Gonzaga will probably be the favorite in round 2. NC State, fresh off their ACC championship,
    showed no signs of fatigue and defeated Texas Tech by double digits. They now go against legendary Jack Gohlke in round 2. Hate the Drake. Another 10 seed that had the game and
    blew it down the stretch. No one wanted to take shots, and the big players on their team became small. Washington State advances, but it felt like Drake lost that game more
    than WSU won. Tennessee looks amazing, and should advance past WSU in the second round.
  </p>

  <h2>FRIDAY - SESSION 1</h2>

  <p>
    Day 2 of the first round started with FAU/Northwestern. Florida Atlantic, who made the Final Four last year, didn't quite match the team from last year. Northwestern played
    motivated and forced overtime. Overtime was over as soon as it started. Northwestern roared out to an 8 point lead and ended up winning by TWELVE in overtime. They meet up with
    UConn in round 2. UAB had a really strong showing, but Jaedon LeDee took over with 32 points and was able to propel the Aztecs - Another 2023 Final Four team - to the second
    round. Baylor crushed Colgate, and Marquette withstood an early Western Kentucky surve to win by 18.
  </p>
  <h2>FRIDAY - SESSION 2</h2>

  <p>
    In one of the biggest surprises, Clemson looked like the November/December team that teases Tiger fans each year. New Mexico had no answer. The Tigers get Baylor in round 2,
    who also looked really good. UConn definitely looks like a worthy #1 overall seed, tossing the Hats off the court. The final 2 games were the most insane parts of the first
    round. Yale/Auburn and Colorado/Florida. The games started at different times, but concluded within 5 minutes of each other. Colorado/Florida was back and forth the whole game,
    and came down to a near buzzer-beater to seal the deal for the Buffaloes. I'm not sure I've seen a college game that had triple digits for both teams since Duke/Kentucky in
    '92, and that game went to OT. The Yale victory was a crazy sequence of events. Auburn just couldn't get the ball to go in. Missed free throws and turnovers was the end of War
    Eagle. A scramble at the end went to the Ivy league.
  </p>
  <h2>FRIDAY - SESSION 3</h2>

  <p>
    After that wild finish for session 2, session 3 calmed down a bit. Vermont gave Duke a run, but the talent of the Blue Devils was too much. Charleston was blown out and the
    game was WAY worse than the final score showed. Purdue did let Grambling stay around for a while, but once Edey got going they just couldn't do anything. Texas A&M also took
    care of Nebraska, who just had no answer for Wade Taylor, who hit 7 3's on the way to 25 points. The Aggies had 3 players score 20+ points, and was just too much for the
    Huskers.
  </p>

  <h2>FRIDAY - SESSION 4</h2>

  <p>
    The final session was too much for me, I had to go to sleep as I was nodding off while they were giving the preview for St. Mary's/Grand Canyon. Thankfully, technology allowed
    me to watch the games this morning with fast forwarding capabilities. Houston destroyed, was able to skip that game altogther. The other 3 games were exciting, only for the
    upset. It paid to be purple (unless you were TCU). James Madison took care of the boys FROM Madison and never really let them back into the game. Every time Wisconsin got
    within 5, JMU would come down and hit a big shot. Wisconsin creeping towards the Do Not Pick list also. I'm very excited for Bryce Drew and Grand Canyon advancing for the first
    time in its history. They made St. Mary's look bad, and kept them at arm's length the whole game. Utah State also got their first tournament win (ever or in a long time) and
    have a date with the Purdue giant on Sunday.
  </p>
  <p>Great first round!</p>

  <h2>The Challenge recap:</h2>

  <p>
    The standings were all over the place during the first 32 games. The leader WINTERGREEN ZYN POUCH, picked all winners as they are ahead by 8.5 points. There are several teams
    in striking distance, although none of them got all their picks correct. Shoutouts to Tick's Picks for also getting all 8 picks correct, although he was a little less
    adventurous, only scoring 26 points. The first 2 days had 8 double digit seeds win, and 7 of them were picked in the contest with 5 super fan picks. Those picks, if they
    advance, will be worth tons of points going forward. The initial strategy seems to be to just hit on those double digit seeds and ride them to victory. Stay tuned for round 2!
    I'll write a recap after each full round is played. Thanks for reading and enjoy the madness!
  </p>
</sky-box>
