<main>
  <div>
    <h1 style="text-align: center">Points Earned Per Seed</h1>
  </div>
  <div style="margin-left: 5%; margin-right: 10%">
    <table class="center">
      <tr>
        <th class="team-check">Region</th>
        <th class="team-check">Seed Number</th>
        <th class="team-check">School</th>
        <th class="team-check">Points</th>
        <th class="team-check">Wins</th>
        <th class="team-check">Entries Selected</th>
        <th class="team-check">Bonus Selected</th>
        <th class="team-check">Lost</th>
      </tr>
      <tr *ngFor="let winner of winners">
        <td class="team-check">{{ winner.region_name }}</td>
        <td class="team-check">{{ winner.seed_number }}</td>
        <td class="team-check">
          <button class="sky-btn sky-btn-link-inline" type="button" (click)="onNameClick(winner.seed_id, winner.school_name)">
            {{ winner.school_name }}
          </button></td>
        <td class="team-check">{{ winner.points }}</td>
        <td class="team-check">{{ winner.wins }}</td>
        <td class="team-check">{{ winner.entries_selected }}</td>
        <td class="team-check">{{ winner.bonus_selected }}</td>
        <td class="team-check">
          <sky-icon style="color: red" *ngIf="winner.eliminated" icon="times"></sky-icon>
        </td>
      </tr>
    </table>
  </div>
  <app-footer></app-footer>
</main>
