<main>
  <div>
    <h1 style="text-align: center">Select Winners</h1>
  </div>
  <div class="bracket-view">
    <!-- Display rounds horizontally -->
    <div class="rounds-container">
      <div *ngFor="let round of roundNumbers" class="round-column">
        <div class="round-header">
          <h2>Round {{ round }}</h2>
        </div>
        <div class="teams-container">
          <div *ngFor="let winner of winnersByRound.get(round)" class="team-card">
            <div class="seed-number">{{ winner.seed_number }}</div>
            <div class="region-name">{{ winner.region_name }}</div>
            <button class="sky-btn sky-btn-link-inline" type="button" (click)="onNameClick(winner.seed_id?.toString(), winner.school_name, round)">
