<sky-box>
  <h1>Second weekend recap - The Final Four is set!</h1>

  <p>
    The contest is dwindling down. NC State has definitely been the most valuable team in this tournament, earning a whopping 110 points by themselves! This doesn't include The
    General's points, who picked them as the super fan team, bringing the total to 165! Up to this point, NC State has outscored 35 COMPLETE ENTRIES in this contest. The power of
    the 11 seed is before us.
  </p>

  <p>
    JHolder will get at least one team in the finals, picking both Alabama and UConn. Unfortunately it won't be enough to pull into the lead since Wintergreen also has Alabama. All
    entries near the top have NC State, but only one has the superfan bonus on them. Here's the breakdown of potential results. Did this math in my head so it could be off!
  </p>

  <h2>Scenarios:</h2>
  <div style="margin-left: 20px">
    <h3>Final: UConn vs. Purdue, UConn wins</h3>
    <ul>
      <li>1st: Wintergreen (234)</li>
      <li>2nd: JHolder (222)</li>
      <li>3rd: The General / Trey King (204)</li>
    </ul>

    <h3>Final: UConn vs. Purdue, Purdue wins</h3>
    <ul>
      <li>1st: Wintergreen (234)</li>
      <li>2nd: JHolder (216)</li>
      <li>3rd: The General (204)</li>
    </ul>

    <h3>Final: Alabama vs. Purdue, Alabama wins</h3>

    <ul>
      <li>1st: Wintergreen (278)</li>
      <li>2nd: JHolder (255)</li>
      <li>3rd: Trey King (237)</li>
    </ul>
    <h3>Final: Alabama vs. Purdue, Purdue wins</h3>
    <ul>
      <li>1st: Wintergreen (254)</li>
      <li>2nd: JHolder (231)</li>
      <li>3rd: Trey King (213)</li>
    </ul>

    <h3>Final: UConn vs. NC State, UConn wins</h3>
    <ul>
      <li>1st: Wintergreen (289)</li>
      <li>2nd: The General (286.5)</li>
      <li>3rd: JHolder (266)</li>
    </ul>
   
    <h3>Final: UConn vs. NC State, NC State wins</h3>
    <ul>
      <li>1st: The General (385.5)</li>
      <li>2nd: Wintergreen (355)</li>
      <li>3rd: JHolder (332)</li>
    </ul>

    <h3>Final: Alabama vs. NC State, Alabama wins</h3>
    <ul>
      <li>1st: Wintergreen (333)</li>
      <li>2nd: JHolder (310)</li>
      <li>3rd: Trey King (292)</li>
    </ul>

    <h3>Final: Alabama vs. NC State, NC State wins</h3>
    <ul>
      <li>1st: The General (385.5)</li>
      <li>2nd: Wintergreen (375)</li>
      <li>3rd: JHolder (352)</li>
    </ul>

    Wintergreen wins if NC State loses, The General wins if the Wolfpack cuts the nets.
  </div>

  <h2>Stories outside of the Final Four</h2>

  <p>
    Clemson was able to get back to the Elite 8 for the first time since 1980. They had a chance to beat Alabama, showing the same defensive resolve in their first 3 wins. But then
    Alabama couldn't miss. The constant barrage of 3 pointers and missing free throws on their own side was enough. It was surprising the score ended up as close as it was, given
    the offensive outburst that Alabama had in the second half. Proud of my Tigers!
  </p>

  <p>
    Both Alabama and Illinois won squeakers in the Sweet 16, but it was two different outcomes in Elite 8. Already discussed Alabama, but UConn made history scoring 30 unanswered
    vs. Illinois. I actually fell asleep near halftime of the game, when it was close in the 20's. Woke up to a destruction of the Illini. Uconn is crazy good.
  </p>

  <p>
    Tennessee stars showed up vs. Creighton and ran into a wall vs. Purdue. Edey was too much for them scoring over 40 points and dominating most of the game. I like Purdue to win
    it all still, as long as the big man stays on the court and sinks his free throws. Clingan (UConn) while skilled, is not as physically dominant down low. I look for him to pull
    Edey out of the paint and make him move in space.
  </p>

  <h2>UConn vs. Alabama</h2>
  <p>
    It's hard to imagine UConn losing to anyone, let alone being close near the end of a game. Having said that, Alabama is quite possibly the team to do it. Fresh off a crazy 2nd
    half of shooting against Clemson, Alabama may have the firepower to hang with UConn.
  </p>

  <h2>NC State vs. Purdue</h2>
  <p>
    NC State was able to take care of both Marquette and Duke on their improbable run to Phoenix. This team plays well together, and believes they will win. When Filipowski fouled
    out, Duke was done. NC State has too many weapons and no one can seem to stop DJ Burns, who just looks like an out of shape offensive lineman, but shows incredible agility and
    touch around the rim. The Burns/Edey matchup is going to be great to watch with their similar, large styles.
  </p>
  <h1>My prediction: Purdue defeats UConn, 87-85</h1>
</sky-box>
