<sky-box>
  <h1>Final recap - Florida and Rick's Terrible WAGs are champions!</h1>

  <p>
    Congratulations to our winners! The leaders of the contest were constantly changing down the stretch. First of all, congratulations to Rick's Terrible WAGs for winning the
    contest by 2 points. All of his selections were a 5 seed or lower, but they kept winning. Stacking up 25 wins and selecting the 2 finalists propelled his team to victory over
    Golfing62$, who was also no slouch. He picked 7/8 of the Elite 8 teams and all four 1 seeds, which netted him 29(!) wins. CUTiger rounded out the top 3 with 103 points and 24
    wins. Congrats to our top 3 finishers!
  </p>

  <p>
    Duke and Houston lost the same way. Mental lapses in the final minutes did them in. Houston not getting a shot off during the final possessions was really inexcusable. Florida
    is a worthy champion though. Got down double digits early, but battled back with Clayton Jr. and held off Houston at the end. The tournament was fantastic and the Final Four
    was one of the best in memory. While there weren't many upsets this year, the basketball was outstanding. Thanks for playing in 2025, see you next year! this year!
  </p>
</sky-box>
