<main>
  <table>
    <tr>
      <td>
        <tr>
          <h3>Rules</h3>
        </tr>
        <tr>
          <ul>
            <li>Select 2 different seeds from each region in the bracket.</li>
            <li>Select one of the 8 seeds that you picked as your "superfan" school. This school will receive a 50% point bonus.</li>
          </ul>
        </tr>
        <tr>
          <h3>Scoring</h3>
        </tr>
        <ul>
          <li>Every game that your selected seeds win earns you points.</li>
          <li>
            Points earned = Seed Number multiplied by Round Number. Example: #4 North Carolina wins in rounds 1, 2, and 3. They receive 4 x 1, 4 x 2, and 4 x 3 points for a total
            of 4 + 8 + 12 = 24 points.
          </li>
          <li>
            The superfan school will collect 50% more points for each win. Example: Superfan pick #4 Boston College wins in rounds 1, 2, and 3. They receive 4 x 1 x 1.5, 4 x 2 x
            1.5, and 4 x 3 x 1.5 points for a total of 6 + 12 + 18 = 36 points.
          </li>
          <li>When a team loses, no more points will be scored for that selection</li>
          <li>If entries are tied, the highest sum of overall seed numbers selected will win. If there is still a tie, all winnings are split</li>
        </ul>
      </td>
    </tr>

    <tr>
      <td>
        <tr>
          <h3>Site Updates</h3>
        </tr>
        <tr>
          <ul>
            <li>3/21/2024: Points earned page added, flyout fixed</li>
            <li>3/17/2024: Site updated for 2024 bracket contest.</li>
            <li>3/12/2024: Site created.</li>
          </ul>
        </tr>
      </td>
    </tr>
  </table>
</main>

<app-footer></app-footer>
