@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");
main {
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

table.center {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-collapse: collapse;
}

tr.borderleft {
  border-left: 1px solid black;
  border-collapse: collapse;
}

tr.borderright {
  border-right: 1px solid black;
  border-collapse: collapse;
}

.header {
  text-align: center;
}

th,
td {
  vertical-align: middle;
  border: none;
  text-align: center;
}

tr:nth-child(even) {
  background-color: lightsteelblue;
}
