<main>
  <h3 class="header">School: {{ schoolName }}</h3>
  <h3 class="header"># Selected: {{ count }}</h3>
  
  <div class="round-selector">
    <label for="round-select">Round:</label>
    <select id="round-select" [(ngModel)]="currentRound" [ngModelOptions]="{updateOn: 'change'}" class="round-input">
      <option [value]="1">Round 1</option>
      <option [value]="2">Round 2</option>
      <option [value]="3">Round 3</option>
      <option [value]="4">Round 4</option>
      <option [value]="5">Round 5</option>
      <option [value]="6">Championship</option>
    </select>
  </div>

  <div class="action-buttons">
    <button class="winner-btn" (click)="addWinner()" [disabled]="isLoading">
      <sky-icon icon="check-circle" style="color: green"></sky-icon>
      Winner
    </button>
    <button class="loser-btn"[disabled]="isLoading">
      <sky-icon icon="times-circle" style="color: red"></sky-icon>
      Loser
    </button>
  </div>

  <table class="center">
    <tr style="border-bottom: 1px solid black">
      <th class="team-name" style="border-left: 1px solid black">Entry Name</th>
      <th class="team-check" style="border-left: 1px solid black">Superfan</th>
    </tr>
    <tr *ngFor="let pick of picks">
      <td class="team-name" style="border-left: 1px solid black">{{ pick.entry_name }}</td>
      <td class="team-name" style="border-left: 1px solid black">
        <sky-icon style="color: green" icon="check-circle" *ngIf="pick.is_bonus"></sky-icon>
      </td>
    </tr>
  </table>
</main>

