@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");
main {
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

.region-header {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  font-size: x-large;
}

select {
  width: 100%;
}

p {
  margin-left: auto;
  margin-right: auto;
}

.possible-points {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.submit-button {
  margin-left: auto;
  margin-right: auto;
}

sky-box {
  padding-top: 40px;
}

.team-check {
  width: 5%;
}
.team-name {
  width: 20%;
  vertical-align: middle;
}
