<main>
  <div *ngIf="!submitted">
    <form [formGroup]="entryForm">
      <h1 style="text-align: center">Submit an entry</h1>

      <div>
        <sky-fluid-grid>
          <sky-row>
            <sky-column>
              <div style="font-size: large; max-width: 80%; margin-left: auto; margin-right: auto">
                <ul>
                  <li>Select 2 different teams in each of the 4 regions.</li>
                  <li>You will earn points for each win that your selected teams achieve.</li>
                  <li>Points awarded for a win will be the seed number times the round number.</li>
                  <li>You may choose ONE "superfan" team from the 8 teams you select. This team will be awarded a 50% bonus for each win.</li>
                  <li>
                    Validate all of your picks and points before clicking
                    <span class="sky-emphasized">Submit</span>.
                  </li>
                  <p>
                    <span class="sky-emphasized">***NOTE***</span>: If you choose a play-in game team, you will get points for either team that advances to the field of 64. No
                    points are awarded for winning a play-in game.
                  </p>
                  <p>
                    <span class="sky-emphasized">***NOTE***</span>: Total possible points does not take into account that only one team will be able to advance out of each region.
                    The total points is the sum of all possible points for each team, and does not reflect your highest possible point total.
                  </p>
                  <p>Deadline to submit: <span class="sky-emphasized"> Thursday, March 20th at 12:00 PM ET</span>.</p>
                </ul>
              </div>
            </sky-column>
          </sky-row>
          <sky-row *ngIf="!bracketFinalized">
            <h1>Brackets not finalized. Please stay tuned for an announcement that the entry is live!</h1>
          </sky-row>
          <div *ngIf="bracketFinalized">
            <sky-row>
              <sky-column [screenSmall]="3" [screenMedium]="4" [screenLarge]="3" style="margin-left: auto">
                <sky-box>
                  <sky-box-content>
                    <p class="region-header">{{ topLeftRegion.region_name }} Region</p>
                    <p>
                      <select formControlName="team1" (change)="update()">
                        <option *ngFor="let team of topLeftRegion.seeds" [ngValue]="team">
                          <div *ngIf="!team.play_in_school_id">
                            <button type="button">#{{ team.seed_number }} {{ team.school_name }}</button>
                          </div>
                          <div *ngIf="team.play_in_school_id">
                            <button type="button">#{{ team.seed_number }} {{ team.school_name }} / {{ team.play_in_school_name }}</button>
                          </div>
                        </option>
                      </select>
                    </p>
                    <p>
                      <select formControlName="team2" (change)="update()">
                        <option *ngFor="let team of topLeftRegion.seeds" [ngValue]="team">
                          <div *ngIf="!team.play_in_school_id">
                            <button type="button">#{{ team.seed_number }} {{ team.school_name }}</button>
                          </div>
                          <div *ngIf="team.play_in_school_id">
                            <button type="button">#{{ team.seed_number }} {{ team.school_name }} / {{ team.play_in_school_name }}</button>
                          </div>
                        </option>
                      </select>
                    </p>
                  </sky-box-content>
                </sky-box>
              </sky-column>
              <sky-column [screenSmall]="3" [screenMedium]="4" [screenLarge]="3" style="margin-right: auto">
                <sky-box>
                  <sky-box-content>
                    <p class="region-header">{{ topRightRegion.region_name }} Region</p>
                    <p>
                      <select formControlName="team3" (change)="update()">
                        <option *ngFor="let team of topRightRegion.seeds" [ngValue]="team">
                          <div *ngIf="!team.play_in_school_id">
                            <button type="button">#{{ team.seed_number }} {{ team.school_name }}</button>
                          </div>
                          <div *ngIf="team.play_in_school_id">
                            <button type="button">#{{ team.seed_number }} {{ team.school_name }} / {{ team.play_in_school_name }}</button>
                          </div>
                        </option>
                      </select>
                    </p>
                    <p>
                      <select formControlName="team4" (change)="update()">
                        <option *ngFor="let team of topRightRegion.seeds" [ngValue]="team">
                          <div *ngIf="!team.play_in_school_id">
                            <button type="button">#{{ team.seed_number }} {{ team.school_name }}</button>
                          </div>
                          <div *ngIf="team.play_in_school_id">
                            <button type="button">#{{ team.seed_number }} {{ team.school_name }} / {{ team.play_in_school_name }}</button>
                          </div>
                        </option>
                      </select>
                    </p>
                  </sky-box-content>
                </sky-box>
              </sky-column>
            </sky-row>
            <sky-row>
              <sky-column [screenSmall]="3" [screenMedium]="4" [screenLarge]="3" style="margin-left: auto">
                <sky-box>
                  <sky-box-content>
                    <p class="region-header">{{ bottomLeftRegion.region_name }} Region</p>
                    <p>
                      <select formControlName="team7" (change)="update()">
                        <option *ngFor="let team of bottomLeftRegion.seeds" [ngValue]="team">
                          <div *ngIf="!team.play_in_school_id">
                            <button type="button">#{{ team.seed_number }} {{ team.school_name }}</button>
                          </div>
                          <div *ngIf="team.play_in_school_id">
                            <button type="button">#{{ team.seed_number }} {{ team.school_name }} / {{ team.play_in_school_name }}</button>
                          </div>
                        </option>
                      </select>
                    </p>
                    <p>
                      <select formControlName="team8" (change)="update()">
                        <option *ngFor="let team of bottomLeftRegion.seeds" [ngValue]="team">
                          <div *ngIf="!team.play_in_school_id">
                            <button type="button">#{{ team.seed_number }} {{ team.school_name }}</button>
                          </div>
                          <div *ngIf="team.play_in_school_id">
                            <button type="button">#{{ team.seed_number }} {{ team.school_name }} / {{ team.play_in_school_name }}</button>
                          </div>
                        </option>
                      </select>
                    </p>
                  </sky-box-content>
                </sky-box>
              </sky-column>
              <sky-column [screenSmall]="3" [screenMedium]="4" [screenLarge]="3" style="margin-right: auto">
                <sky-box>
                  <sky-box-content>
                    <p class="region-header">{{ bottomRightRegion.region_name }} Region</p>
                    <p>
                      <select formControlName="team5" (change)="update()">
                        <option *ngFor="let team of bottomRightRegion.seeds" [ngValue]="team">
                          <div *ngIf="!team.play_in_school_id">
                            <button type="button">#{{ team.seed_number }} {{ team.school_name }}</button>
                          </div>
                          <div *ngIf="team.play_in_school_id">
                            <button type="button">#{{ team.seed_number }} {{ team.school_name }} / {{ team.play_in_school_name }}</button>
                          </div>
                        </option>
                      </select>
                    </p>
                    <p>
                      <select formControlName="team6" (change)="update()">
                        <option *ngFor="let team of bottomRightRegion.seeds" [ngValue]="team">
                          <div *ngIf="!team.play_in_school_id">
                            <button type="button">#{{ team.seed_number }} {{ team.school_name }}</button>
                          </div>
                          <div *ngIf="team.play_in_school_id">
                            <button type="button">#{{ team.seed_number }} {{ team.school_name }} / {{ team.play_in_school_name }}</button>
                          </div>
                        </option>
                      </select>
                    </p>
                  </sky-box-content>
                </sky-box>
              </sky-column>
            </sky-row>
            <sky-row>
              <sky-column style="max-width: 400px; margin-left: auto; margin-right: auto">
                <sky-box>
                  <sky-box-header class="region-header">Superfan Team 50% Bonus</sky-box-header>
                  <sky-box-content>
                    The team you select here will receive 50% more points than normal.
                    <select class="possible-points" formControlName="bonusTeam" (change)="update()">
                      <option *ngFor="let team of selectedTeams" [ngValue]="team">
                        <div *ngIf="!team.play_in_school_id">
                          <button type="button">#{{ team.seed_number }} {{ team.school_name }}</button>
                        </div>
                        <div *ngIf="team.play_in_school_id">
                          <button type="button">#{{ team.seed_number }} {{ team.school_name }} / {{ team.play_in_school_name }}</button>
                        </div>
                      </option>
                    </select>
                  </sky-box-content>
                </sky-box>
              </sky-column>
            </sky-row>
            <sky-row>
              <sky-column class="possible-points">
                <sky-box>
                  <sky-box-header style="text-align: center" class="region-header">Pick summary</sky-box-header>
                  <sky-box-content>
                    <p style="text-align: center; padding-bottom: 20px">Total possible points: {{ totalPoints }}</p>
                    <sky-input-box labelText="Entry Name" style="padding-left: 20px; padding-right: 20px">
                      <input formControlName="name" type="text" />
                    </sky-input-box>
                    <sky-input-box labelText="Email" stacked="true" style="padding-left: 20px; padding-right: 20px">
                      <input formControlName="email" type="text" />
                    </sky-input-box>
                    <sky-alert *ngIf="hasErrors">{{ errorMessage }}</sky-alert>
                    <div style="text-align: center">
                      <button class="submit-button sky-btn sky-btn-primary sky-margin-inline-compact" [disabled]="submitDisabled" (click)="submit()">Submit</button>
                    </div>
                    <p>Details to confirm entry will be sent to the provided email.</p>
                  </sky-box-content>
                </sky-box>
              </sky-column>
            </sky-row>
          </div>
        </sky-fluid-grid>
      </div>
    </form>
  </div>
  <div *ngIf="submitted">
    <sky-fluid-grid>
      <sky-row>
        <sky-column>
          <sky-box style="max-width: 400px; margin-left: auto; margin-right: auto">
            <sky-box-content>
              <h1 style="text-align: center">Picks submitted</h1>
              <p>Entry Name: {{ name }}</p>
              <p>E-mail: {{ email }}</p>
              <p>
                {{ team1?.region_name }} - #{{ team1?.seed_number }} {{ team1?.school_name }} <span *ngIf="team1?.play_in_school_name"> / {{ team1?.play_in_school_name }}</span> -
                {{ team1?.possible_points }} points
              </p>
              <p>
                {{ team2?.region_name }} - #{{ team2?.seed_number }} {{ team2?.school_name }} <span *ngIf="team2?.play_in_school_name"> / {{ team2?.play_in_school_name }}</span> -
                {{ team2?.possible_points }} points
              </p>
              <p>
                {{ team3?.region_name }} - #{{ team3?.seed_number }} {{ team3?.school_name }} <span *ngIf="team3?.play_in_school_name"> / {{ team3?.play_in_school_name }}</span> -
                {{ team3?.possible_points }} points
              </p>
              <p>
                {{ team4?.region_name }} - #{{ team4?.seed_number }} {{ team4?.school_name }} <span *ngIf="team4?.play_in_school_name"> / {{ team4?.play_in_school_name }}</span> -
                {{ team4?.possible_points }} points
              </p>
              <p>
                {{ team5?.region_name }} - #{{ team5?.seed_number }} {{ team5?.school_name }} <span *ngIf="team5?.play_in_school_name"> / {{ team5?.play_in_school_name }}</span> -
                {{ team5?.possible_points }} points
              </p>
              <p>
                {{ team6?.region_name }} - #{{ team6?.seed_number }} {{ team6?.school_name }} <span *ngIf="team6?.play_in_school_name"> / {{ team6?.play_in_school_name }}</span> -
                {{ team6?.possible_points }} points
              </p>
              <p>
                {{ team7?.region_name }} - #{{ team7?.seed_number }} {{ team7?.school_name }} <span *ngIf="team7?.play_in_school_name"> / {{ team7?.play_in_school_name }}</span> -
                {{ team7?.possible_points }} points
              </p>
              <p>
                {{ team8?.region_name }} - #{{ team8?.seed_number }} {{ team8?.school_name }} <span *ngIf="team8?.play_in_school_name"> / {{ team8?.play_in_school_name }}</span> -
                {{ team8?.possible_points }} points
              </p>
              <p>Total points from all seeds: {{ totalPoints }}</p>
            </sky-box-content>
          </sky-box>
        </sky-column>
      </sky-row>
    </sky-fluid-grid>
  </div>
</main>

<app-footer></app-footer>
