<sky-box>
  <h2>The Champion is Here! WINTERGREEN ZYN POUCH</h2>
  <h3>2nd place: JHolder, 3rd place: The General/Trey King</h3>

  <p>
    WINTERGREEN ZYN POUCH is your 2024 champion! He chose 4 of the top 6 scoring schools (NC State, Alabama, Duke, and Illinois) on his way to a close victory over JHolder. All 8
    teams he selected won at least the first game. The only other entry to do so was Tick's Picks.
  </p>

  <p>
    The interesting thing to me in this contest is how different all of the picks were across all entries. Many different strategies, but in the end this year, it just came down to
    picking NC State. Finding that one high seeded school is the key. Even the 1 seeds UConn and Purdue entered into the top 10 of scoring, getting 21 and 15 points each.
  </p>

  <p>The best possible entry would have been the following:</p>
  <ul>
    <li>South: NC State (superfan) - 110 + 55 = 165 points, Duke - 24 points</li>
    <li>West: Alabama - 40 points, Clemson - 36 points</li>
    <li>East: UConn - 21 points, Illinois - 18 points</li>
    <li>Midwest: Purdue - 15 points, Gonzaga - 15 points</li>
    <li>
      <span style="font-weight: bolder"> Optimal Total: 334 points</span>
    </li>
  </ul>

  <p>
    Looking at this list of teams, it was certainly plausible to pick all 8 correctly. I sincerely hope you had a great experience with this contest! It was an idea I had during
    the tournament last year and I'm thrilled that so many people joined. I'm looking for feedback in the contest, the website, and how we communicated. I hope we can grow to 100
    entries next year!
  </p>

  <h2>The Final Four</h2>

  <p>
    The games did not have the late-game intensity as previous rounds. It was more of a coronation of UConn, as said on the broadcast many times. They were the complete team, and
    dominated every single round of the tournament. Purdue finally stopped the Wolfpack, who had an amazing run of the ACC Tournament into the Final Four.
  </p>

  <p>
    The championship game was close early, but UConn loves to turn it on in the second half. There was a moment when the big men on UConn got into foul trouble that I thought
    Purdue could come back, but the guard play was too much. Purdue was simply outmatched everywhere except Edey, who scored a ton of points but honestly wasn't as dominant as he
    had to be. Great player that will contribute in the NBA for a while.
  </p>

  <p>
    This closes the book on the NCAA March Madness tournament and the 2024 Bracket Challenge! Thank you for participating. We will be sending out e-mails for other contests. The
    next scheduled contest is the Bowl Pickem series in December.
  </p>
</sky-box>
