<main>
  <div>
    <h1 style="text-align: center">Bracket Challenge 2024 Standings</h1>
  </div>
  <table class="center">
    <tr>
      <th class="team-check">Rank</th>
      <th class="team-name">Entry Name</th>
      <th class="team-check">Current<br />Points</th>
      <th class="team-check">Total<br />Wins</th>
      <th class="team-check">Remaining<br />Teams</th>
    </tr>
    <tr *ngFor="let pick of standings">
      <td class="team-check">{{ pick.rank }}</td>
      <td *ngIf="showStandingsLink" class="team-name">
        <button class="sky-btn sky-btn-link-inline" type="button" (click)="onNameClick(pick.entry_id)">
          {{ pick.entry_name }}
        </button>
      </td>
      <td *ngIf="!showStandingsLink" class="team-name">
        {{ pick.entry_name }}
      </td>
      <td class="team-check">{{ pick.current_points }}</td>
      <td class="team-check">{{ pick.win_total ?? 0 }}</td>
      <td class="team-check">{{ pick.teams_remaining ?? 0 }}</td>
    </tr>
  </table>
  <app-footer></app-footer>
</main>
