<sky-box>
  <h1>March 25th - Round of 32 Recap!</h1>

  <h2>The Challenge:</h2>
  <p>
    Heading into Saturday, WINTERGREEN ZYN POUCH was the leader with 64 points. They would retain the lead only giving it up once to The General. The General needs NC State to win
    the championship, as its his only team remaining. Several teams in the top 10 still have 5+ teams remaining. I think we are a long way from deciding who the champion will be,
    especially with the multiplier going up and some superfan selections still alive. I'm pleased with how it has gone so far! Make sure to check out the Timeline to see the
    standings in action over the weekend.
  </p>

  <h2>SATURDAY</h2>
  <p>
    The second round kicked off Saturday with Dayton and Arizona. This is the type of game that Arizona would miss free throws, get into foul trouble, and roll over into a
    first-weekend exit. It wasn't the case this time. Dayton played hard, and then played dirty, but it wasn't enough. Arizona moves on to the Sweet 16. Caleb Love's tournament
    experience is a huge asset to this team and it showed in this game.
  </p>

  <p>
    Gonzaga continued their run dismantling a Kansas team that hung close for the first half. Kansas was actually up by 1 at halftime, but Gonzaga ripped off a 15-0 run to put the
    game out of reach. They just couldn’t match up with Gonzaga’s complete team effort.
  </p>

  <p>North Carolina, Illinois and Iowa State proved to be too much for their lower-seeded opponents. Both got out to a comfy lead and never looked back.</p>

  <p>
    The game I was looking forward to was Oakland and NC State, one team operating on fumes and the other riding the widow's peak of Jack Golkhe. Golkhe never really got going, but
    the game still went to overtime. The overtime was 1-0 Oakland until NC State finally got a DJ Burns layup. After trading baskets back and forth, NC State finally pulled away
    and gets some well-deserved rest before their matchup with Marquette.
  </p>

  <p>
    Another overtime game happened between Creighton and Oregon. Oregon didn’t shoot a single free throw until less than 1 minute left in regulation, which had to be some kind of
    record. The stars that come out of these types of games is really cool to see. Cousinard for Oregon and Scheierman/Kalkbrenner for Creighton sure are fun to watch. Oregon had a
    chance to win before OT with Cousinard’s final shot rimming out. Creighton found another gear in the 2nd OT and put away the Ducks for good.
  </p>

  <h2>SUNDAY</h2>

  <p>UConn, Purdue, San Diego State, and Duke all took care of business in blowouts. It was nice to see honestly, will make for some great sweet 16 matchups.</p>

  <p>
    The Clemson/Baylor game got me pretty fired up, even though I wasn't super high on Clemson's chances heading into this game. Baylor was firing on all cylinders in round 1 and
    had more tournament experience than the Tigers. But Clemson and Hot Seat Brad showed up with the best defense I've seen in years from a Tigers team. They overcame early foul
    trouble for PJ Hall to outlast Baylor down the stretch.
  </p>

  <p>
    The other game to mention was the Texas A&M/Houston matchup. This game also went to overtime, after everyone’s eyes were on Will Taylor IV and forgot about Andersson Garcia at
    the top of the key. It ended a furious comeback for the Aggies who looked dead to rights with about a minute to go down 7 points. Houston ended up winning, despite 4 of their
    top players fouling out.
  </p>

  <p>First weekend was amazing! Can’t wait for the Sweet 16.</p>
</sky-box>
