<main style="text-align: center; font-size: larger">
  <h1>The Inaugural Bracket Challenge</h1>
  <h2>Presented by Toasty Solutions</h2>
  <p>
    Submissions open on <span style="font-weight: bolder"> Sunday, March 17th </span> after the Selection Sunday show concludes. The Submit Entry page will contain dropdowns for
    your selections when it is ready.
  </p>
  <p>
    The goal is to score the most points possible, while picking 2 seeds from each region. You earn points for each win. The points are calculated by multiplying the seed number by
    the round number.
  </p>
  <p>Example: #1 seeded Kansas wins rounds 1, 2, and 3, but loses in round 4. They would receive 1 point, 2 points, and 3 points for a total of 6 points.</p>
  <p>Example #2: #10 seeded Utah State wins rounds 1 and 2, but loses in round 3. They would receive 10 points and 20 points for a total of 30 points.</p>
  <p>It can be beneficial to pick higher seeded teams, even if they don't win many games!</p>
  <p>Submissions close on <span class="sky-emphasized"> Thursday, March 21st at 12:00 PM ET</span>.</p>
</main>
<app-footer></app-footer>