<main style="text-align: center; font-size: larger">
  <h1>The Inaugural Bracket Challenge</h1>
  <h2>Presented by Toasty Solutions</h2>
  <h2>Welcome to 2024 Bracket Challenge!</h2>
  <p>Submissions open on <span style="font-weight: bolder"> Sunday, March 10th </span> after the Selection Sunday show concludes.</p>
  <p>Filling out a bracket takes 63 decisions. This challenge only requires 9. Select ANY 2 teams from each region and be rewarded points based on the seed number and round.</p>
  <p>Fill out as many entries as you like!</p>
</main>
