<main>
  <div style="text-align: center; font-size: larger">
    <h1>The Inaugural Bracket Challenge</h1>
    <h2>Presented by Toasty Solutions</h2>
  </div>
  <sky-box>
    <sky-box-header>
      <h1 style="text-align: center;">Ongoing recap - Round of 64 - 3/21-3/22</h1>
    </sky-box-header>
    <sky-box-content>
      The first day of March Madness is underway! I've added several new things to the site.
      <ul>
        <li>Added "Teams Remaining" in the standings.</li>
        <li>Added if a team has been eliminated when clicking on an entry name.</li>
        <li>Updated the Points Earned page to show if a team has been eliminated.</li>
      </ul>
      Any feedback is welcome! Hope to make this fun to continue to look at as the tournament progresses.
    </sky-box-content>
  </sky-box>
</main>
<app-footer></app-footer>
