<main>
  <table class="center">
    <tr>
      <th>Round of 64</th>
      <th>Round of 32</th>
      <th>Sweet 16</th>
      <th>Elite 8</th>
      <th>Final Four</th>
      <th>Elite 8</th>
      <th>Sweet 16</th>
      <th>Round of 32</th>
      <th>Round of 64</th>
    </tr>
    <tr>
      <td class="team-top">#1</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#1</td>
    </tr>
    <tr>
      <td class="team-bottom">#16</td>
      <td class="team-top">#1</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#16</td>
    </tr>
    <tr>
      <td class="team-name">#8</td>
      <td class="bracket-right"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#8</td>
    </tr>
    <tr>
      <td class="team-name">#9</td>
      <td class="team-bottom">#8</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#9</td>
    </tr>
    <tr>
      <td class="team-name">#5</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#5</td>
    </tr>
    <tr>
      <td class="team-name">#12</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#12</td>
    </tr>
    <tr>
      <td class="team-name">#4</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#4</td>
    </tr>
    <tr>
      <td class="team-name">#13</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#13</td>
    </tr>
    <tr>
      <td class="team-name">#6</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#6</td>
    </tr>
    <tr>
      <td class="team-name">#11</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#11</td>
    </tr>
    <tr>
      <td class="team-name">#3</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#3</td>
    </tr>
    <tr>
      <td class="team-name">#14</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#14</td>
    </tr>
    <tr>
      <td class="team-name">#7</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#7</td>
    </tr>
    <tr>
      <td class="team-name">#10</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#10</td>
    </tr>
    <tr>
      <td class="team-name">#2</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#2</td>
    </tr>
    <tr>
      <td class="team-name">#15</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#15</td>
    </tr>
    <tr>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
    </tr>

    <tr>
      <td class="team-name">#1</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#1</td>
    </tr>
    <tr>
      <td class="team-name">#16</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#16</td>
    </tr>
    <tr>
      <td class="team-name">#8</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#8</td>
    </tr>
    <tr>
      <td class="team-name">#9</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#9</td>
    </tr>
    <tr>
      <td class="team-name">#5</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#5</td>
    </tr>
    <tr>
      <td class="team-name">#12</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#12</td>
    </tr>
    <tr>
      <td class="team-name">#4</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#4</td>
    </tr>
    <tr>
      <td class="team-name">#13</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#13</td>
    </tr>
    <tr>
      <td class="team-name">#6</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#6</td>
    </tr>
    <tr>
      <td class="team-name">#11</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#11</td>
    </tr>
    <tr>
      <td class="team-name">#3</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#3</td>
    </tr>
    <tr>
      <td class="team-name">#14</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#14</td>
    </tr>
    <tr>
      <td class="team-name">#7</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#7</td>
    </tr>
    <tr>
      <td class="team-name">#10</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#10</td>
    </tr>
    <tr>
      <td class="team-name">#2</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#2</td>
    </tr>
    <tr>
      <td class="team-name">#15</td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name"></td>
      <td class="team-name">#15</td>
    </tr>
  </table>
</main>
